@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700;900&display=swap');

// Fuentes
$fuente_principal: 'Poppins', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$negro: #000000;
$oscuro: #2D2C2E;
$resaltado: #FD5776;
$rojo: #FD1F4A;
$rojoOscuro: #c0042a;
$blanco: #FAF5E6;
$gris: #e1e1e1;
$grisOscuro: #333333;
$oscuroTransparencia: #000000c9;

// paleta alterna

$golden: #EAA81D;
$blancoalt: #fff;
$rojoOscuroAlt: #990A08;
$rojoalt: #C42615;

$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900