.contacto{
    background-color: $rojoOscuroAlt;
    padding: 5rem 0;
    h2{
        color: $blancoalt;
    }
    p{
        text-align: center;
        color: $blanco;
        margin: 0 1rem;
        font-size: 1.5rem;
    }
}

.contenedor-contacto{
    background-color: $rojoalt;
    margin: 3rem 1rem;
    padding: 1rem 3rem 3rem 3rem;
    border-radius: 1rem;
    @include tablet{
        width: 70%;
        margin: 5rem auto;
    }
    @include desktop{
        width: 50%;
    }
    a{
        display: block;
        width: 90%;
        margin: 2rem auto;
        padding: 1rem 2rem;
        border-radius: 1rem;
        color: $blanco;
        background-color: $golden;
        text-align: center;
        @include tablet{
            width: 30%;
        }
    }
    p{
        color: $blancoalt;
        text-align: left;
    }
}