.footer{
    padding: 1rem;
    background-color: $golden;

    .contenido-footer{
        padding-top: $separacion;
    }

    .copyright{
        color: $blancoalt;
        text-align: center;
        margin: 0;
    }

}
