.interna{
    padding: 5rem 0;
    @include tablet{
        padding: 5rem;
    }
}

.contenedor-seccion{
    color: $blanco;
    h2{
        color: #faf5e6;
        font-size: 4rem;
        margin: 0 0 3rem;
        @include tablet {
            margin-bottom: 5rem;
        }
    }
    p{
        color: $blanco;
        padding: 2rem;
        @include tablet{
            padding: 0 10rem;
        }
    }
    img{
        @include tablet{
            width: 30%;
        }
    }
    .contenedor-interior{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background-color: $grisOscuro;
        @include tablet {
            flex-direction: row;
            width: 80%;
            margin: 0 auto;
        }
    }
}