.interna{
    // padding: 5rem 0;
    @include tablet{
        padding: 5rem;
    }
}

.contenedor-seccion{
    color: $blancoalt;
    padding-top: 5rem;
    h2{
        margin: 3rem ;
        @include tablet {
            margin-bottom: 5rem;
        }
    }
    p{
        color: $blanco;
        padding: 2rem;
        @include tablet{
            padding: 0 2rem;
        }
    }
    img{
        display: block;
        margin-top: -2px;
        @include tablet{
            width: 30%;
            object-fit: cover;
            margin-top: 0;
        }
    }
    .contenedor-interior{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-bottom: 5rem;
        background-color: $golden;
        @include tablet {
            flex-direction: row;
            align-items: center;
            width: 80%;
            margin: 0 auto;
            padding: 2rem;
        }
        @include desktop{
            padding: 0;
        }
    }
}