.recomendaciones{
    padding: 5rem 1rem;
    color: $blanco;
    h2{
        margin: 0 3rem 3rem 3rem;
    }
}

.card-contenedor{
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    @include tablet{
        flex-wrap: wrap;
        justify-content: center;
        overflow: hidden;
    }
}
.card-cometario{
    position: relative;
    flex: 1 0 auto;
    margin: 2rem;
    // background-color: $grisOscuro;
    background: $rojoalt;
    background: linear-gradient(90deg, $rojoalt 50%, $rojoOscuroAlt 95%);
    border-radius: 1.5rem;
    width: 230px;
    height: auto;
    text-align: center;
    padding: 3rem 2rem;
    @include tablet {
        flex: initial;
    }
    p{
        color: $blanco;
    }
    small{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        bottom: 2rem;
        color: $golden;
        margin: 0;
        width: 100%;
        font-size: 1.7rem;
    }
}
.comillas{
    width: 70px;
}